<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
  <system.web>
    <compilation targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
    <customErrors mode="Off" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <!--<system.diagnostics>
		<switches>
			<add name="switch" value="4"/>
		</switches>
		<trace autoflush="true" indentsize="2">
			<listeners>
				<add name="listener" type="System.Diagnostics.TextWriterTraceListener" initializeData="AppLog.txt"/>
			</listeners>
		</trace>
	</system.diagnostics>-->
  <system.diagnostics>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <add name="LogListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="Logs/LogRCApp.log" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
  <appSettings>
    <add key="SaveImportPath" value="C:\Projects\ExcelFiles\" />
    <!-- 日志相关配置项 Begin -->
    <!--
		-->
    <!-- 日志级别 DEBUG|INFO|WARN|ERROR|FATAL -->
    <!--
		<add key="_LOG_LEVEL_" value="DEBUG" />
		-->
    <!-- 日志文件路径(相对路径或绝对路径)+文件名（不含文件扩展名）（默认NLogger） -->
    <!--
		<add key="_LOG_FILE_" value="/site/wwwroot/Logs/RCWebLog" />
		-->
    <!-- 日志文件的最大长度（单位：字节）（不得小于 1024字节，即 1K）（默认1M = 1*1024*1024=1048576） 当日志文件超过该大小时会自动重建 -->
    <!--
		<add key="_LOG_FILE_MAX_SIZE_" value="10485760" />
		-->
    <!-- 日志文件是否按命名空间分开存储的配置节关键字: TRUE|FALSE （默认FALSE） -->
    <!--
		<add key="_LOG_SPLIT_" value="TRUE" />
		-->
    <!-- 当日志文件按命名空间分开存储时（即_LOG_SPLIT_=TRUE），命名空间截取的最大长度(该值必须大于0，方有效)，(可选)默认命名空间全称 -->
    <!--
		-->
    <!-- <add key="_LOG_NS_MAXLENGTH_" value="7"/>-->
    <!--
		-->
    <!-- 当日志文件按命名空间分开存储时（即_LOG_SPLIT_=TRUE），命名空间长度最大截取到第几分段（以“.”分割）(该值必须大于0，方有效)，(可选)默认命名空间全称 -->
    <!--
		<add key="_LOG_NS_DIV_COUNT_" value="3" />
		-->
    <!-- 异步写入日志标示，TRUE：新启线程采用日志队列方式异步写入，FALSE：直接写入日志文件（默认FALSE） -->
    <!--
		<add key="_LOG_ASYN_" value="TRUE" />
		-->
    <!-- 异步写入时，当日志队列为空的等待毫秒数（必须大于等于0，为0则没有等待时间(较耗资源)；可不配置，默认100毫秒）（_LOG_ASYN_必须配置TRUE，该项才起作用） -->
    <!--
		<add key="_LOG_ASYN_WAIT_" value="100" />
		-->
    <!-- 异步写入线程是前台线程还是后台线程（对应Thread.IsBackground属性），TRUE后台线程，FALSE前台线程（默认FALSE）（_LOG_ASYN_必须配置TRUE，该项才起作用） -->
    <!--
		<add key="_LOG_ASYN_THREAD_BACKGROUND_" value="TRUE" />
		-->
    <!-- #日志文件的保存时间（单位：天，整数-默认30天）（值大于零方有效） -->
    <!--
		<add key="_LOG_FILE_SAVE_TIME_" value="30" />
		-->
    <!-- 日志相关配置项 End -->
    <add key="SMTP" value="smtp.163.com" />
    <add key="SMTPSSL" value="false" />
    <add key="SMTPPort" value="25" />
    <add key="SMTPFromTitle" value="TestUser" />
    <add key="SMTPReplyTo" value="mdyang2015@163.com" />
    <add key="SMTPUser" value="mdyang2015@163.com" />
    <add key="SMTPPwd" value="IDSEBNFQYRJIBWMT" />
  </appSettings>
</configuration>
<!--ProjectGuid: 15C0C6E5-B613-4F22-8305-15C33F41B31F-->